/* override table width restrictions */

.wy-table-responsive table td,
.wy-table-responsive table th {
    white-space: normal;
}

.wy-table-responsive {
    margin-bottom: 24px;
    max-width: 100%;
    overflow: visible;
}

.wy-nav-content {
    padding: 0.618em 3.236em;
    height: 100%;
    max-width: 1200px;
    margin: auto
}

.wy-side-nav-search {
    display: block;
    width: 300px;
    padding: 0.809em;
    margin-bottom: 0.809em;
    z-index: 200;
    background-color: #AEB6BF;
    text-align: center;
    padding: 0.809em;
    display: block;
    color: #fcfcfc;
    margin-bottom: 0.809em
}

.wy-side-nav-search input[type=text] {
    width: 100%;
    border-radius: 50px;
    padding: 6px 12px;
    border-color: #AEB6BF
}

.wy-side-nav-search>div.version {
    margin-top: -0.4045em;
    margin-bottom: 0.809em;
    font-weight: normal;
    color: rgba(255, 255, 255, 0.8)
}

.wy-breadcrumbs .title {
    color: #555555;
    font-size: 1pt;
    font-family: 'Archivo Black';
}

.caption-text {
    color: #fbb61a;
}

.dataframe {
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
    margin-bottom: 24px
}

.dataframe td,
.dataframe th {
    font-size: 90%;
    margin: 0;
    overflow: visible;
    padding: 8px 16px
}

.dataframe td:first-child,
.dataframe th:first-child,
border-left-width: 0
}
.dataframe thead {
    color: #000;
    text-align: left;
    vertical-align: bottom;
    white-space: nowrap
}
.dataframe thead th {
    font-weight: bold;
    border-bottom: solid 2px #e1e4e5
}
.dataframe td {
    background-color: transparent;
    vertical-align: middle
}
.dataframe td p {
    line-height: 18px
}
.dataframe td p:last-child {
    margin-bottom: 0
}
.dataframe {
    width: 1%;
    padding-right: 0;
    margin: 0
}
.wy-alert.wy-alert-info .wy-alert-title,
.rst-content .note .wy-alert-title,
.rst-content .wy-alert-info.attention .wy-alert-title,
.rst-content .wy-alert-info.caution .wy-alert-title,
.rst-content .wy-alert-info.danger .wy-alert-title,
.rst-content .wy-alert-info.error .wy-alert-title,
.rst-content .wy-alert-info.hint .wy-alert-title,
.rst-content .wy-alert-info.important .wy-alert-title,
.rst-content .wy-alert-info.tip .wy-alert-title,
.rst-content .wy-alert-info.warning .wy-alert-title,
.rst-content .seealso .wy-alert-title,
.rst-content .wy-alert-info.admonition-todo .wy-alert-title,
.wy-alert.wy-alert-info .rst-content .admonition-title,
.rst-content .wy-alert.wy-alert-info .admonition-title,
.rst-content .note .admonition-title,
.rst-content .wy-alert-info.attention .admonition-title,
.rst-content .wy-alert-info.caution .admonition-title,
.rst-content .wy-alert-info.danger .admonition-title,
.rst-content .wy-alert-info.error .admonition-title,
.rst-content .wy-alert-info.hint .admonition-title,
.rst-content .wy-alert-info.important .admonition-title,
.rst-content .wy-alert-info.tip .admonition-title,
.rst-content .wy-alert-info.warning .admonition-title,
.rst-content .seealso .admonition-title,
.rst-content .wy-alert-info.admonition-todo .admonition-title {
    background: #aeb6bf
}
.wy-alert.wy-alert-info,
.rst-content .note,
.rst-content .wy-alert-info.attention,
.rst-content .wy-alert-info.caution,
.rst-content .wy-alert-info.danger,
.rst-content .wy-alert-info.error,
.rst-content .wy-alert-info.hint,
.rst-content .wy-alert-info.important,
.rst-content .wy-alert-info.tip,
.rst-content .wy-alert-info.warning,
.rst-content .seealso,
.rst-content .wy-alert-info.admonition-todo {
    background: #d8d9db
}
.title {
    color: #fbb61a;
    font-size: 28pt;
    font-family: 'Archivo Black';
}
.tagline {
    font-style: italic;
    color: #666666;
    font-size: 13pt;
    font-family: Verdana, Geneva, sans-serif;
}